body{
    background-color: #121212;
    margin: 50px 50px 50px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: #1dd960;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navegar{
    display: flex;
    flex-direction: row;
}
#navegar *{
    margin-left: 9px;
}
button{
    background-color: #1dd960;
    color: white;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
}

button:hover{
    background-color: #121212;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}
#cancons{
    border: 1px solid #121212;
    width: 90%;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1%;
    align-items: center;
    justify-content: center;
    background-color:#1dd960;
    overflow: auto;
    box-shadow: 5px 5px 20px whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section#lateral{
    border: 1px solid #121212;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    background-color: #1dd960;
    overflow: hidden;
    box-shadow: 5px 5px 20px whitesmoke;
}

section#lateral img{
    width: 50%;
    height: auto;
    border-radius: 5%;
    box-shadow: 5px 5px 20px #121212;
}
.track{
    height: 350px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px 15px 15px 15px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 5px 5px 20px #121212;
}

.track img{
    height: 55%;
    width: 55%;
    object-fit: contain;
}

.track h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.afegirc{
    width: 55%;
}

#topbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#topbar img{
    width: 200px;
    height: 55px;
}